.navbar{
    background: #000;
}

.nav-item{
    padding-left: 1em;
}

.carousel-item{
    height: 450px;
}

.homeicon .fa{
    font-size: 50px;
}

#getstarted{
    position: relative;
    background: url(../images/bg1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 250px;
}

.dark-overlay{
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.home-video{
    position: relative;
    background: url(../images/people.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 250px;


}

.home-video .fa{
    font-size: 30px;
}

#gallery{
    min-height: 250px;
}

#copyright{

    background: #000;
}

                        /*About page css  */

#page-header{
    background: url(../images/image1.jpeg);
    background-size: cover;
    background-attachment: fixed;
    height: 200px;
} 

#service-page-header{
    background: url(../images/image2.jpeg);
    background-size: cover;
    background-attachment: fixed;
    height: 200px;
} 

#blog-page-header{
    background: url(../images/image3.jpeg);
    background-size: cover;
    background-attachment: fixed;
    height: 200px;
} 

#about-info img{
    width: 350px;
    height: 350px;
}

#icon-boxes .fa{
    font-size: 50px;
    margin-bottom: 20px;
}